@import url('https://fonts.googleapis.com/css?family=Montserrat');

 
:root{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

a{
    text-decoration: none;
    transition-duration: 3s
}

.header_up_menu{
   font-size: 0.9rem;
    letter-spacing: 1%
}

.header_up_menu ul{
    display: flex;
    justify-content: center;
}
ul li, span{
    padding: 0.3%;
}
nav ul{
    display: flex;
    justify-content: center;
    font-family:'Montserrat', sans-serif;

}
ul li {
    text-decoration: none;
    color: darkgrey;
    transition-duration: 2s;
   
}
ul li{
    list-style-type: none;
}
a:hover{
    color: darkred
}
ul span{
    color: darkred
}

.header_flexbox{
    display: flex;
    justify-content: space-around;
}
.sotial_networks{
    display: flex;
    align-items: center;
}
.fa-facebook-f, .fa-twitter, .fa-telegram-plane{
    font-size: 1.5rem;
    border: 1px solid darkgray;
    padding: 15%;
    margin: 5%;
    color: grey;
    }
.name_of_site{
    line-height: 0.1;
}
h1{
    font-size: 3rem
}

h1 + p{
    display: flex;
    justify-content: center
}

#lang{
    color: darkred;
   }
.setting{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.language_chanding{
    border: 1px solid darkgray;
    padding: 10%;
    margin-right: 2%;
} 
.fa-search{
    border: 1px solid darkgray;
    padding: 10%;
    margin-left: 2%
}
.item_menu li a{
    font-size: 1.1rem;
    color: black;
    transition-duration: 2s
}
.item_menu a:hover{
    color: darkred
}

.horizontal_aside{
    display: flex;
    justify-content: space-around;
    border-top: 5px solid darkred;
    background-color: rgb(61, 55, 55);
    margin-bottom: 3%
}
.horizontal_aside h3{
    margin-left: 1%;
    border-right: 1% solid darkgrey;
    color: white;
}
.horizontal_aside div{
    display: flex;
    justify-content: center;
    margin: 0.3% 0 0.3% 6.5%;
    align-items: center;
    width: 25%;
    font-size: 0.8rem;
    /* border-left: 1px solid darkgrey; */
    padding-left: 1.5%;
    
}

aside.horizontal_aside .fa-arrow-left, aside.horizontal_aside .fa-arrow-right{
    color: darkgray;
    padding: 20%;
    border: 2px solid darkgray;
    font-size: 1.5rem;
}
.fa-arrow-left a, .fa-arrow-right a{
    text-decoration: none;
}
.fa-arrow-left:visited{
 color: lightgray
}
.fa-arrow-right:visited{
    color: lightgray
}
.content_main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1%
}

 .grid_column1{
    grid-column: 1/2;
    margin: 1% 0 2% 20%;
}

div.heading_list{
    border-right: 5px solid darkgrey
}
.heading_list div{
    display: flex;
    justify-content: space-between
}
.heading_list span{
    font-size: 0.7rem;
    color: gray;
    padding-top: 1.5%
}
.heading_list p{
    padding: 0 1% 1% 2%;
    font-size: 1rem;
    margin: 1% 0 1% 1%
}

.grid_column1 a{
    text-decoration: none;
    font-size: 0.7rem
}
.grid_column1 a:first-child{
    color: darkred
}
.grid_column1 a:last-child{
    color: grey
}

.header_of_aside_list{
    display: flex;
    justify-content: space-between
}

.grid_column2{
    grid-column: 2/3;
    padding: 2%;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    padding: 0 1.5%
}
article *{
    margin: 2%;
    font-family: Arial, Helvetica, sans-serif;
}

article p{
    font-size: 0.8rem;
}

.first_block img{
    padding-right: 1.5%;
    margin-left: 1%
}
.first_block > h2:hover{
    color: darkred
}

article footer{
    color: gray;
    font-size: 0.6rem
}
hr.red {
    border: none;
     color: darkred;
     background-color: darkred;
     height: 1px
}
.header_of_main{
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    color: darkred
}

.header_of_main h3{
    margin: 0
}

.header_of_main span{
    color: gray;
    font-size: 0.7rem;
    margin: 1%;
    transition-duration: 2s
}

.header_of_main span:hover{
    color: darkred
}

.joint_content img{
    float: left;
    margin: 0 2% 2% 0
}

.joint_content h3{
    font-size: 0.9rem;
    transition-duration: 2sec
}
article h3:hover{
    color: darkred
}
h4:hover{
    color: darkred
}

.grid_column3{
    grid-column: 3/4
}
aside h2{
    color: darkred
}

.grid_column3{
    padding: 1% 20% 1% 2%

}
.grid_column3 h2, .grid_column1 h2{
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    margin-bottom: 1%
}
 span#reklama{
    display: block;
    font-size: 0.7rem;
    color: grey;
    margin: 15% 0;
}

h2 i{
    color: grey;
    font-size: 0.8rem;
}
.article_small a{
    text-decoration: none;
    color: darkred;
    font-size: 0.7rem
}

.article_small h4{
    font-size: 0.8rem;
    margin-top: 0;
    margin-bottom: 0
}

.article_small span{
    margin-top: 0;
    color: darkred;
    font-size: 0.6rem
}
.article_small p{
    font-size: 0.75rem;
    margin-top: 1%
}
div.article_small{
    margin-top: 2%;
}

